// ∗˚(* ˃̤൬˂̤ *)˚∗
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
  background: #2E2724;
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
  color: #295949;

  &:hover {
    border-bottom: 1px solid;
    color: #295949;
  }
}

.wrapper {
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Do Hyeon', sans-serif;
}