// ∗˚(* ˃̤൬˂̤ *)˚∗
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  background: #2E2724;
  color: #BFAE99;
  line-height: 1.5em;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
  color: #C77966;

  &:hover {
    color: #CE8978;
  }
}

.wrapper {
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Do Hyeon', sans-serif;
}

pre {
  background: #2d2d2d;
  padding: 1em;
  border-radius: 2px;
  code {
    background: auto;
  }
}
code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace!important;
  font-size: .75rem;
  line-height: .75rem;
  white-space: pre-wrap;
  color: #D9CB9E;
  padding: 0;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
}