.header {
  padding: 1rem 0;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  display: flex;

  .home-link {
    flex-grow: 1;
  }

  a[href="/projects"] {
    color: #c6e5df;
  }
  a[href="/blog"] {
    color: #5190d9;
  }

  .navigation {
    padding: 0.5rem 1em;
    display: flex;
    background-color: transparentize(#242424, 0.25);

    a {
      padding: 0 1rem;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}