.italics {
  display: flex;
  flex-direction: column;
}
.italics-textarea,
.italics-result {
  min-height: 2rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.italics-result {
  margin: 1rem 0;
}

.italics-copy {
  display: flex;

  button {
    padding: 0.5rem 1rem;
  }

  p {
    margin: 0;
    padding: 0 1rem;
    font-size: 0.5rem;
  }
}
