@import 'l1/styles/variables.scss';
@import 'l1/styles/mixins.scss';

.tracks {
  li {
    list-style: none;

    &:before {
      content: '🎶';
      margin-right: calc($padding * 3/4);
    }
    &:nth-child(even):before {
      content: '🎵';
    }
  }
}