@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$time: 0.2s;
$transition: ease;
// $transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.fadeIn {
  animation: fadeIn $time both $transition;
}

.backgroundTransition {
  transition: background-color $time $transition;
}
