@import 'l1/styles/variables.scss';

@mixin link($color) {
  fill: $color;
  color: $color;

  &:hover {
    fill: $color;
    color: $color;
  }

  span {
    margin-left: 0.25rem;
  }
}
