@import 'l1/styles/variables.scss';
@import 'l1/styles/mixins.scss';

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  background: $background;
  color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  margin: 1rem 0;
}

a {
  @include link-animation($ak);
  cursor: pointer;
  text-decoration: none;

  &.no-border {
    border: none;
  }

  svg {
    margin-bottom: -0.5rem;
    width: 1.5rem;
  }
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  &:first-child {
    margin-top: 0;
  }
}

section {
  margin: 1rem 0;
}

.wrapper {
  overflow: hidden;
}

.hljs {
  padding: 1em;
  line-height: 1rem;
  margin: 0;

  &.wrap {
    white-space: pre-wrap;
  }
}

code {
  padding: 0.1rem 0.3rem;
  margin: 0 0.2rem;
  background: $black;
  color: $white;
}

ul {
  padding-left: 2rem;
  margin: 1rem 0 0;
}
