.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app section {
  margin: 1rem;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hi h2 {
  margin-bottom: 0;
}

.app .update {
  color: #aaa;
  flex-grow: 1;
  font-size: 0.75rem;
  margin: 0 1rem;
  display: flex;
  align-items: flex-end;
}
