@import 'l1/styles/variables.scss';
@import 'l1/styles/mixins.scss';

$gridSize: 30rem;

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 0 calc($padding * 8);

    &.hi {
      display: flex;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      color: $background;
      background: $text;
      padding: $padding;
      max-width: $gridSize + $padding;

      h2 {
        margin: 0;
      }
    }

    .grid {
      grid-template-columns: repeat(auto-fit, minmax($gridSize, 1fr));
    }

    h2, h3 {
      margin-bottom: calc($padding / 2);
    }
  }
}

.hi {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: $padding;
  box-sizing: border-box;
  max-width: 60rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .arrow-icon {
    position: relative;
    svg {
      position: absolute;
      top: 0.35rem;
      left: 0.25rem;
    }
  }

  .pic {
    display: flex;
    align-items: center;
    margin: $padding;
    width: 12rem;
    height: 12rem;
  }

  .blurb {
    display: flex;
    flex-direction: column;
    margin-right: $padding;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .aka {
    font-size: 50%;
    color: $gray;
  }

  .profile {
    width: 12rem;
    height: 12rem;
    border-radius: 12rem;
    object-position: 0 60%;
    object-fit: cover;
    flex-shrink: 0;
  }

  .socials {
    display: flex;
    flex-wrap: wrap;

    a {
      margin-right: $padding;
      margin-top: calc($padding / 2);
    }
  }
}

.music {
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc($gridSize / 2), 1fr));
  }

  .playlists {
    padding: $padding;

    ul {
      margin-right: $padding;
    }
  }

  .mixes {
    padding: $padding;
    padding-right: 0;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(calc($gridSize / 2), 1fr));

      li {
        margin-right: $padding;
        margin-bottom: $padding;
      }
    }
  }

  .recent-tracks {
    padding: $padding;
  }
}

.source {
  .content {
    padding: $padding;
    p {
      margin: 0;
    }
  }
  ul {
    li {
      list-style-type: none;
      &:before {
        content: '-';
        margin-right: calc($padding / 2);
      }
    }
  }
}
.soundcloud-embed {
  max-width: 40rem;
  min-width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;

  iframe {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: $desktop) {
  .music {
    .grid {
      grid-template-areas:
        "playlist mixes"
        "lastfm mixes";
    }
  }
}

@media screen and (max-width: $tablet) {
  .home {
    section {
      .grid {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .hi {
    flex-direction: column;
    align-items: center;

    .blurb {
      margin-right: 0;
    }
  }
}