@import 'l1/styles/variables.scss';

.home {
  position: relative;
  z-index: 1;

  section {
    padding: 1rem;
  }

  &.page {
    & > *.navigation:first-child {
      background-color: $black;
    }

    .content {
      margin: 0;
      padding: 0;

      & > section {
        margin: 0;
      }
    }
  }
}

.hi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  section {
    max-width: 28rem;
    background-color: $black;
    border-bottom: $underline solid $blue;
    margin: 0;
    padding: 1rem 0;
  }

  h2,
  h3,
  p {
    margin: 1rem;
  }

  .intro {
    display: flex;
    flex-grow: 1;
  }

  .social-media {
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

section.home-code {
  padding: 1rem 0;
  border-top: $underline solid $code;

  & > * {
    padding: 0 1rem;
  }
  .projects {
    padding: 0;
  }
}
