$skew-amt: 7;

.intro {
  display: flex;

  .inner {
    min-height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    height: 100vh;
  }

  h2 {
    margin: 0;
  }

  p {
    color: #888888;
  }
}

code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace!important;
  font-size: .75rem;
  line-height: .75rem;
  white-space: normal;
  color: #D9CB9E;
  padding: 2px 3px 1px;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
}
