@import "ak.gg/styles/variables.scss";

.home {
  position: relative;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;

  &.page .content {
    padding: 0;
  }

  & > section:nth-child(2n - 1) {
    color: $black;
    background: $white;
  }

  section > * {
    margin: 1rem 0;
  }
}

.hi {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    padding-bottom: 0;
  }

  section {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .intro {
    max-width: 20rem;
    padding: 2rem;
    background-color: transparentize($black, 0.25);
  }

}

.projects .content {
  display: flex;
}