@import 'l1/styles/variables.scss';

.navigation {
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 0.06rem;
  display: flex;

  a {
    vertical-align: middle;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
    &:first-child {
      margin-left: 1rem;
    }
    &:last-child {
      margin-right: 1rem;
    }
  }

  .menu {
    display: flex;
  }

  &.console {
    &:hover {
      span {
        color: #8d909641;
      }
    }
    span {
      color: transparent;
      transition: all 0.4s ease;
      padding: 0 0.5;

      &:before {
        content: '/';
        letter-spacing: 0.2rem;
      }
      &:after {
        content: ', ';
        letter-spacing: 0.4rem;
      }
      &:hover:before {
        color: $gray;
      }
      &:first-child {
        margin-left: 0.4rem;
        &:hover:before {
          color: #8d909641;
        }
        &:before {
          content: '$';
          letter-spacing: 0.2rem;
        }
        &:after {
          content: '{ ';
          letter-spacing: 0.2rem;
        }
      }
      &:nth-child(2):before {
        color: 'blue';
      }
      &:last-child:after {
        content: '}';
      }

      a {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
