@import 'ak.gg/styles/variables.scss';

$headerLinkPadding: 0.3rem;
$headerLinkSpacing: 1rem;
$headerBobbleAmt: 0.3;

.navigation {
  display: flex;

  a {
    margin: 0 $headerLinkSpacing/2;
    background: none;
    padding: $headerLinkPadding;
    outline: 0;

    &:first-child {
      margin-left: $headerLinkSpacing;
    }
    &:last-child {
      margin-right: $headerLinkSpacing;
    }

    &:active {
      padding-top: $headerLinkPadding * 2 * (1 - $headerBobbleAmt);
      padding-bottom: $headerLinkPadding * 2 * $headerBobbleAmt;
    }
  }

  a[href='/code'] {
    color: $codeColor;
    &.active,
    &:hover {
      border-bottom-color: $codeColor;
    }
  }

  a[href='/blog'] {
    color: $blogColor;
    &.active,
    &:hover {
      border-bottom-color: $blogColor;
    }
  }
}
