.playlists {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-width: 50rem;

  p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.playlist {
  display: flex;
  padding: 0.5rem;
  width: 20rem;

  img {
    height: 6rem;
    width: 6rem;
  }

  p {
    margin: 0;
  }

  .info {
    flex: 1;
    margin-left: 0.5rem;
  }
}
