.playlists {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.playlist {
  display: flex;
  padding: 0.5rem;
  text-align: center;

  img {
    height: 5rem;
    width: 5rem;
  }

  p {
    margin: 0;
  }
}
