.playlists {
  display: flex;
  p {
    margin: 0;
    text-align: center;
  }
}

.playlist {
  margin: 0 0.5rem;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
