@import 'l1/styles/variables.scss';

.playlists {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.playlist {
  display: flex;
  width: 20rem;
  margin-right: calc($padding / 2);
  margin-bottom: calc($padding / 2);

  img {
    height: 6rem;
    width: 6rem;
  }

  p {
    margin: 0;
  }

  .info {
    flex: 1;
    margin-left: 0.5rem;
  }
}
