.header {
  padding: 1em;
  overflow: auto;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #262626;
  z-index: 1;

  &.header-fixed {
    position: fixed;
  }

  a {
    color: white;
    text-shadow: #000 1px 1px 3px;
    font-weight: 400;

    &:hover {
      color: #A7C7C5;
      border: none;
    }
  }
  .title {
    margin: 0;
    flex-grow: 1;
    letter-spacing: 0.07rem;
  }
}

.menu {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  display: flex;
  align-items: center;

  li {
    margin: 0;
    background: none;
    display: inline-block;
    list-style-type: none;
    margin-right: 2em;
    position: relative;

    &:last-child {
      margin: 0;
    }
  }
}
.menu-expand {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 736px) {
  .menu-expand {
    display: block;
  }
  .menu {
    display: none;
  }
}
