@import 'ak.gg/styles/variables.scss';

$headerLinkPadding: 0.5rem;
$headerBobbleAmt: 0.3;

.header {
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 0.06rem;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;

  a {
    padding: $headerLinkPadding;
    outline: 0;

    &:active {
      padding-top: $headerLinkPadding * 2 * (1 - $headerBobbleAmt);
      padding-bottom: $headerLinkPadding * 2 * $headerBobbleAmt;
    }
  }

  .home-link {
    flex-grow: 1;
    display: flex;
    margin: 0 0.5rem;

    a {
      border-bottom: none;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.navigation {
  background-color: transparentize(#242424, 0.25);
  display: flex;

  a {
    margin: 0 $headerLinkPadding;
    background: none;
  }

  a[href='/music'] {
    color: $musicColor;
    &.active,
    &:hover {
      border-bottom-color: $musicColor;
    }
  }

  a[href='/code'] {
    color: $codeColor;
    &.active,
    &:hover {
      border-bottom-color: $codeColor;
    }
  }

  a[href='/blog'] {
    color: $blogColor;
    &.active,
    &:hover {
      border-bottom-color: $blogColor;
    }
  }

  a[href='/talks'] {
    color: $talksColor;
    &.active,
    &:hover {
      border-bottom-color: $talksColor;
    }
  }
}
