.header {
  font-family: 'Do Hyeon', sans-serif;
  padding: 1em;
  display: flex;
}

.header {
  padding: 1em;

  .home-link {
    flex-grow: 1;
  }

  .navigation {
    display: flex;
    a {
      padding: 0 0.5rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}