<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:title" content="Andrew Kennedy"/>
  <meta property="og:url" content="https://ak.gg"/>
  <meta property="og:image" content="headshot.jpg"/>
  <meta property="og:site_name" content="Andrew Kennedy"/>
  <meta property="og:description" content="The personal site of Andrew Kennedy."/>
  <title>Andrew Kennedy</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
  <script src="//cdn.rawgit.com/L1fescape/tetris/8d00961b6e53e7ef36eda9d42f5b0928feb5c194/tetris.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
