<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/" target="_blank" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta property="og:title" content="Andrew Kennedy"/>
  <meta property="og:url" content="https://ak.gg"/>
  <meta property="og:image" content="headshot.jpg"/>
  <meta property="og:site_name" content="ak.gg"/>
  <meta property="og:description" content="cools"/>
  <title>ak.gg</title>
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Raleway:400,700|Open+Sans:400,800" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/styles/highlight.js.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
