.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .social {
    flex-direction: row;

    a {
      text-align: left;
    }
  }

  .copyme {
    margin: 2rem 1rem 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
}