@import 'ak.gg/styles/variables.scss';

.social {
  & > h4 {
    padding-left: 1rem;
    margin: 0;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
  }

  svg {
    height: 2rem;
    width: 2rem;
    vertical-align: bottom;
    margin-bottom: -0.2rem;
  }

  span {
    margin-left: 0.2rem;
  }

  a {
    color: $blue;
    fill: $blue;
    border-color: $blue;
    text-align: center;
    padding: 1rem;
    transition: all 0.2s ease;
    border: none;

    span {
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      padding-bottom: 0.2rem;
    }

    &:hover span {
      border-bottom-width: 0.2rem;
      border-bottom-style: solid;
    }
  }

  // .twitter {
  //   color: #007abc;
  //   fill: #007abc;
  //   border-color: #007abc;
  // }

  .instagram {
    color: $green;
    fill: $green;
    span {
      border-color: $green;
      margin-left: 0.4rem;
    }
  }

  .github {
    color: $white;
    fill: $white;
    span {
      border-color: $white;
      margin-left: 0.4rem;
    }
  }

  .linkedin {
    color: #0077b5;
    fill: #0077b5;
    span {
      border-color: #0077b5;
    }
  }

  .soundcloud {
    color: $red;
    fill: $red;
    span {
      border-color: $red;
      margin-left: 0.8rem;
    }
  }
}
