.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > *:first-child.navigation {
    padding: 1rem 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .banner {
    z-index: 1;
  }

  .content {
    margin-top: 4rem;
    flex-grow: 1;
  }
}
