@import 'l1/styles/variables.scss';
@import 'l1/styles/mixins.scss';

.twitter {
  @include link(#007abc);
}

.instagram {
  @include link($green);
}

.github {
  @include link($gray);
}

.linkedin {
  @include link(#0077b5);
}

.soundcloud {
  @include link(#f50);
}

.spotify {
  @include link(#1db954);
  svg {
    transform: scale(0.8);
  }
}

.lastfm {
  @include link(#d51007);
  svg {
    transform: scale(0.8);
  }
}

.devto {
  @include link(#cfd7ff);
}

a:hover {
  &.twitter,
  &.instagram {
  }

  span {
    text-decoration: underline;
  }
}
