.post-banner {
  position: relative;
  height: 15rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
}
.title {
  z-index: 2;
  span {
    display: block;
    font-size: 1rem;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
