@import 'l1/styles/typography.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
}

svg {
  max-width: 2rem;
  max-height: 2rem;
}
