<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/" target="_blank" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta property="og:title" content="og shit" />
    <meta property="og:url" content="https://ak.gg" />
    <meta property="og:site_name" content="ak.gg" />
    <meta property="og:description" content="cools" />
    <link
      href="https://fonts.googleapis.com/css?family=Do+Hyeon|Raleway:400,700|Open+Sans:400,800"
      rel="stylesheet"
    />
    <title>Andrew Kennedy</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
