// ∗˚(* ˃̤൬˂̤ *)˚∗
@import 'ak.gg/styles/typography.scss';
@import 'ak.gg/styles/common.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
}
